@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Koh+Santepheap&family=Martel:wght@200;300;400;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

h1 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
}

.span {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  color: #059669;
  white-space: nowrap;
}

.span2{
  color:grey;
  white-space: nowrap;
}

.line {
  /* border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 0.85; */
  /* text-shadow: 3px 3px white, 3px -3px white, -3px 3px white, -3px -3px white; */
}

a {
  color: inherit;
  text-decoration: none;
  /* text-transform: uppercase; */
}

* {
  box-sizing: border-box;
}

.pics {
  /* display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
  /* margin: 15px 0 0 0; */
}

/* .navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
} */

/* .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
} */

.logo {
  margin-right: auto;
  /* margin-left: 50px; */
  cursor: pointer;
}

svg {
  display: block;
}

logo-container{
  font-size: 0;
}

.navlinks {
  /* margin-right: 50px; */
}

/* body {
  margin: 50px;
} */

a {
  margin-left: 20px;
  font-weight: 400;
}

/* .image-container {
  width: 100%;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.image-container  div {
  position: unset !important;
  padding-top: 0 !important;
  background-color: aqua;
} */

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.project-links {
  margin-left: auto;
  align-self: flex-end;
}

.project-navbuttons {
  display: flex;
  justify-content: space-between;
}


.hero {
  height: 100%;
  /* display: flex;
  flex-direction: row; */
  /* flex-grow: 1; */
}

.project-title {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
}

.header-container{
  height: 70vh;
}