@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

.header-title {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.span {
  font-family: "Manrope", sans-serif;
  color: #059669;
  white-space: nowrap;
}

.span2 {
  color: grey;
  white-space: nowrap;
}

.span3 {
  white-space: nowrap;
}

.span4 {
  color: grey;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  margin-right: auto;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  display: block;
  font-size: 0;
}

.logo:hover {
  transform: scale(1.2) rotate(360deg);
}

svg {
  display: block;
}

logo-container {
  font-size: 0;
}

.navlinks a {
  margin-left: 20px;
  font-weight: 700;
}

a:hover {
  text-decoration: underline currentColor;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

a {
  font-weight: 700;
}

.grid-image-container {
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.grid-image-container:hover {
  transform: scale(1.01);
}

.grid-overlay {
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(5, 150, 105, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s;
}

.grid-overlay:hover {
  opacity: 1;
}

.grid-overlay > div {
  transition: transform 0.2s;
}

.grid-overlay:hover > div {
  transform: translateY(0) scale(1.1);
}

.grid-title {
  font-size: 1.5em;
  text-align: center;
  font-weight: 500;
}

.project-links {
  margin-left: auto;
  align-self: flex-end;
}

.project-navbuttons {
  display: flex;
  justify-content: space-between;
}


.header-container {
  margin-top: 80px;
}

.project-title {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.projects-anchor {
  display: block;
  position: relative;
  top: -30px;
  visibility: hidden;
}

.about-anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

img {
  display: block;
}

.portrait {
  opacity: 0.85;
}

.about-container {
  background-color: #f1f1f1;
}

.parallax-inner {
  transform: translate3d(0, 0, 0);
}

@media only screen and (max-width: 1279px) {
  .parallax-inner {
    transform: none !important;
  }

  .grid-overlay {
    display: none;
  }

  .projects-anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
  }
}
